<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Room</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center my-5">Chat Room</h1>

      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mb-4">
            <div class="card-header">
              <h2 class="card-title">My Rooms</h2>
            </div>
            <ul class="list-group list-group-flush">
              {% for room in rooms %}
              <li class="list-group-item"><a href="{{ url_for('chat', room_id=room.id) }}">{{ room.name }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <a href="/room" class="btn btn-primary">All available room</a>
          
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6 mx-auto">
          <div class="text-center">
            <a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
