<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chat Room</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      {% for mesg in get_flashed_messages() %}
                <div class="alert alert-success" role="alert">
                    {{mesg}}
                </div>
      {% endfor %}
      <h1 class="text-center my-5">Chat Room</h1>

      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mb-4">
            <div class="card-header">
              <h2 class="card-title">Rooms:</h2>
            </div>
            <ul class="list-group list-group-flush">
              {% for room in rooms %}
              <li class="list-group-item">
                {{ room.name }}
                <br>
                created by: <b>{{ room.username }}</b>
                <br> 
               
                {% for request in requests %}
                {% if current_userid == request.user_id and room.id == request.room_id %}
                <div class="btn btn-primary float-right color-gray" > Request has been sent</div>
                
                {% else %}
                <a href="{{ url_for('join_room', room_id=room.id) }}" class="btn btn-primary float-right">Join</a>
                {% endif %}
                {% endfor %}
              </li>
            {% endfor %}
            </ul>
          </div>
          <div class="pb-5"><a href="/myroom" class="btn btn-primary">My rooms</a></div>

          <div class="card">
            <div class="card-header">
              <h2 class="card-title">Create a new room:</h2>
            </div>
            <div class="card-body">
              <form action="/create_room" method="post">
                <div class="form-group">
                  <label for="room-name">Room Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="room-name"
                    name="room_name"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6 mx-auto">
          <div class="text-center">
            <a href="{{ url_for('logout') }}" class="btn btn-secondary"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    
  </body>
</html>
